<% layout("/layout/boilerplate") %>
<% layout("/layout/boilerplate") %>
<!-- From Uiverse.io by mi-series --> 
<div class="container1">
    <div class="form_area1">
        <p class="title1">LOGIN</p>
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="form_group1">
                <label class="sub_title1" for="username">username</label>
                <input name="username" placeholder="Enter your username" id="username" class="form_style1" type="text">
            </div>
           
            <div class="form_group1">
                <label class="sub_title1" for="password">Password</label>
                <input name="password" placeholder="Enter your password" id="password" class="form_style1" type="password">
            </div>
            <div>
                <button class="btn1">LOGIN</button>
                <p>Don't Have any Account? <a class="link1" href="/signup">SIGN UP</a></p><a class="link1" href="/signup">
            </a></div><a class="link1" href="/signup">
        
    </a></form></div><a class="link1" href="">
</a></div>












