<% layout("/layout/boilerplate") %>
<!-- From Uiverse.io by mi-series --> 
<div class="container1">
    <div class="form_area1">
        <p class="title1">SIGN UP</p>
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="form_group1">
                <label class="sub_title1" for="username">username</label>
                <input name="username" placeholder="Enter your username" id="username" class="form_style1" type="text">
            </div>
            <div class="form_group1">
                <label class="sub_title" for="email">Email</label>
                <input name="email" placeholder="Enter your email" id="email" class="form_style1" type="email">
            </div>
            <div class="form_group1">
                <label class="sub_title1" for="password">Password</label>
                <input name="password" placeholder="Enter your password" id="password" class="form_style1" type="password">
            </div>
            <div>
                <button class="btn1">SIGN UP</button>
                <p>Have an Account? <a class="link" href="/login1">Login Here!</a></p><a class="link1" href="/login">
            </a></div><a class="link1" href="/login">
        
    </a></form></div><a class="link1" href="">
</a></div>




